/* Make sure all css rules start with the class .visualization2 */
/*
.Visualization2 #controls {
    margin-bottom: 20px;
}
*/
.Visualization2 svg {
    background: white;
}

.Visualization2 {
    width: max-content;
    height: max-content;
}

label[for="activitySlider"] {
    margin-left: 40px;
}

.vis2title {
    margin-bottom: 17px;
}